section.choose
    .container
        .choose-box 
            .choose-box__title
                .choose-box__title__first Choose Your Favorite
                .choose-box__title__second CHUẨN GU ĐÚNG VỊ
            .choose-box__slider.center
                .choose-box__slider__item
                    include ../../blocks_s/choose-item__morning/choose-item
                .choose-box__slider__item
                    include ../../blocks_s/choose-item__origin/choose-item
                .choose-box__slider__item
                    include ../../blocks_s/choose-item__everyday/choose-item
                .choose-box__slider__item
                    include ../../blocks_s/choose-item__dam/choose-item
                .choose-box__slider__item
                    include ../../blocks_s/choose-item__red/choose-item
                .choose-box__slider__item
                    include ../../blocks_s/choose-item__green/choose-item