@import ../../sblocks/choose-item__morning/choose-item

.choose-box
    &__title
        text-align: center
        
        &__first
            font-family: nunito
            font-weight: 600
            font-size: 20px
        &__second
            padding-top: 6px
            padding-bottom: 72px
            font-family: montserrat
            font-weight: 900
            font-size: 30px

.choose-box__slider
    overflow: hidden
    display: flex
    gap: 31px
    &__item
        width: 559px


.slick-slide.not-in-center 
  opacity: 0.5 
  transition: opacity 0.3s ease 