section.choose
    .container
        .choose-box 
            .choose-box__title
                .choose-box__title__first Choose Your Favorite
                .choose-box__title__second CHUẨN GU ĐÚNG VỊ
            .choose-box__slider.center
                .choose-box__slider__item
                    include ../../sblocks/choose-item__morning/choose-item
                .choose-box__slider__item
                    include ../../sblocks/choose-item__morning/choose-item
                .choose-box__slider__item
                    include ../../sblocks/choose-item__morning/choose-item
                .choose-box__slider__item
                    include ../../sblocks/choose-item__morning/choose-item
                .choose-box__slider__item
                    include ../../sblocks/choose-item__morning/choose-item
                .choose-box__slider__item
                    include ../../sblocks/choose-item__morning/choose-item