.giftset-box__item.giftset-box__item3
    .giftset-box__img
        img(src='../images/rare.png')
    .giftset-box__info
        .giftset-box__info__price 5.000
        .giftset-box__info__title Giftset "xyz"
        .giftset-box__info__text xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz xyz
        .giftset-box__info__inf
            .giftset-box__info__inf-blend
                .giftset-box__info__inf-blend__svg
                    svg
                        use(xlink:href='./images/sprite.svg#seeds')
                .giftset-box__info__inf-blend__text
                    .giftset-box__info__inf-blend__text__first Loại hạt
                    .giftset-box__info__inf-blend__text__second Fine Robusta Blend
            .giftset-box__info__inf-mm
                .giftset-box__info__inf-mm__svg
                    svg
                        use(xlink:href='./images/sprite.svg#mountain')
                .giftset-box__info__inf-mm__text
                    .giftset-box__info__inf-mm__text__first Độmesstos
                    .giftset-box__info__inf-mm__text__second 1 - 2m
        .coffee-item__info-btns
            button.coffee-item__info-btns__mau MUA NGAY
            button.coffee-item__info-btns__chi CHI TIẾT