section.base 
    .container 
        .base-title
            .base-title-first Your Personalized Coffee
            .base-title-second COFFEE BUILD YOUR BASE
        .base-box
            .base-box-item
                .base-box-item__img
                    svg
                        use(xlink:href='./images/sprite.svg#build1')
                .base-box-item__title Nguồn gốc
                .base-box-item__text Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.
            .base-box-item
                .base-box-item__img
                    svg
                        use(xlink:href='./images/sprite.svg#build2')
                .base-box-item__title Nguồn gốc
                .base-box-item__text Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.
            .base-box-item
                .base-box-item__img
                    svg
                        use(xlink:href='./images/sprite.svg#build3')
                .base-box-item__title Nguồn gốc
                .base-box-item__text Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.
            .base-box-item
                .base-box-item__img
                    svg
                        use(xlink:href='./images/sprite.svg#build4')
                .base-box-item__title Nguồn gốc
                .base-box-item__text Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.