@font-face 
    font-family: nunito
    src: 
        url('../fonts/Nunito-LightItalic.woff2'),
        url('../fonts/Nunito-LightItalic.woff'),
        url('../fonts/Nunito-Regular.woff2'),
        url('../fonts/Nunito-Regular.woff'),
        url('../fonts/Nunito-SemiBold.woff2'),
        url('../fonts/Nunito-SemiBold.woff'),
        url('../fonts/Nunito-Bold.woff2'),
        url('../fonts/Nunito-Bold.woff')

    font-weight: 300 400 600 700

@font-face 
    font-family: montserrat
    src: 
        url('../fonts/Montserrat-Black.woff2'),
        url('../fonts/Montserrat-Black.woff')

    font-weight: 900