section.choose-combo
    .container
        .choose-combo-box 
            .choose-combo-arrows
                .choose-combo-arrows__left.arrow
                    svg 
                        use(xlink:href='./images/sprite.svg#arrow-left')
                .choose-combo-arrows__right.arrow
                    svg 
                        use(xlink:href='./images/sprite.svg#arrow-right')
            .choose-combo-box__title
                .choose-combo-box__title__first Choose Your Favorite
                .choose-combo-box__title__second CHUẨN GU ĐÚNG VỊ
            .choose-combo-box__slider.center-row
                .choose-combo-box__slider__item
                    include ../../blocks_s/choose-combo__dam/choose-combo__dam
                .choose-combo-box__slider__item
                    include ../../blocks_s/choose-combo__everyday/choose-combo__everyday
                .choose-combo-box__slider__item
                    include ../../blocks_s/choose-combo__honey/choose-combo__honey
                .choose-combo-box__slider__item
                    include ../../blocks_s/choose-combo__green/choose-combo__green
                