.choose-combo__item
    .choose-combo__item-img
        img(src="../images/combo-honey.png", alt="")
    .choose-combo__item-onfo
        .choose-combo__item-onfo__price 275.000 &nbsp;&nbsp;<span>260.000</span>
        .choose-combo__item-onfo__name Combo Revo Honey
        .choose-combo__item-onfo__text Honey – trong tên gọi Revo Honey đến từ phương pháp chế biến hạt Arabica...
        .coffee-item__info-btns
            button.coffee-item__info-btns__mau MUA NGAY
            button.coffee-item__info-btns__chi CHI TIẾT