.coffee-item
    .coffee-item__img
        img(src='../images/revo_morning.png')
    .coffee-item__info
        .coffee-item__info-price 99.000
        .coffee-item__info-name REVO Morning
        .coffee-item__info-text đắng, hậu ngọt, hương hoa 
        .coffee-item__info-btns
            button.coffee-item__info-btns__mau MUA NGAY
            button.coffee-item__info-btns__chi CHI TIẾT