section.hero
    .container
        .hero-inner
            .hero-first
                .hero-first__white
                    .top-bar__logo
                        img(src='../images/logo.png') 
                    .hero-first__white-title
                        .hero-first__white-title__1 YOUR
                        .hero-first__white-title__2 PERSONALIZED
                        .hero-first__white-title__3 COFFEE
                .hero-first__img 
                    img(src='images/hero.png')
            .hero-second
                button.top-bar__cart
                    img(src='../images/cart.png')
                .hero-second__menu
                    .hero-second__menu-title TRANG CHỦ
                        ul 
                            li.hero-second__menu-item 
                                a(href='#') COFFEE
                            li.hero-second__menu-item 
                                a(href='#') PHIN MẠ MÀU
                            li.hero-second__menu-item 
                                a(href='#') COMBO PHIN PHÊ
                            li.hero-second__menu-item 
                                a(href='#') GIFTSET
                            li.hero-second__menu-item 
                                a(href='#') LIÊN HỆ

