section.hero 
    .hero-first 
        .hero-first__white
            .hero-first__white-title
                .hero-first__white-title1 YOUR
                .hero-first__white-title2 PERSONALIZED
                .hero-first__white-title3 COFFEE
        .hero-first__img 
            img(src='images/hero.png')
    .hero-second
        .hero-second__menu
            .hero-second__menu-title
                ul 
                    li.hero-second__menu-item 
                        a(href='#') COFFEE
                    li.hero-second__menu-item 
                        a(href='#') PHIN MẠ MÀU
                    li.hero-second__menu-item 
                        a(href='#') COMBO PHIN PHÊ
                    li.hero-second__menu-item 
                        a(href='#') GIFTSET
                    li.hero-second__menu-item 
                        a(href='#') LIÊN HỆ
