.hero
    display: flex
    position: relative
    justify-content: space-between
    &-first
        display: flex
        max-height: 768px
        &__white
            width: 386px
            z-index: 2
        &__img
            z-index: 1
            overflow: hidden
    &-second
        background-color: $primary
