.choose-combo__item
    .choose-combo__item-img
        img(src="../images/combo-green.png", alt="")
    .choose-combo__item-onfo
        .choose-combo__item-onfo__price 249.000 &nbsp;&nbsp;<span>999.999</span>
        .choose-combo__item-onfo__name Combo Revo green
        .choose-combo__item-onfo__text Revo Natural là dòng cà phê đặc biệt của Revo Coffee dành riêng ...
        .coffee-item__info-btns
            button.coffee-item__info-btns__mau MUA NGAY
            button.coffee-item__info-btns__chi CHI TIẾT