.coffee-item
    .coffee-item__img
        img(src='../images/revo_everyday.png')
    .coffee-item__info
        .coffee-item__info-price 85.000
        .coffee-item__info-name REVO Everyday
        .coffee-item__info-text cân bằng, hậu đắng, vị chocolate
        .coffee-item__info-btns
            button.coffee-item__info-btns__mau MUA NGAY
            button.coffee-item__info-btns__chi CHI TIẾT