section.giftset
    .container 
        .giftset-title 
            .giftset-title__first Best Gift For Best Friend
            .giftset-title__second GIFTSET
        .giftset-box
            include ../../blocks_s/giftset-item1/giftset-item
            include ../../blocks_s/giftset-item2/giftset-item
            include ../../blocks_s/giftset-item3/giftset-item

            .giftset-box__page
                button#giftset-box__btn1.giftset-page.select(data-target="1") 1
                button#giftset-box__btn2.giftset-page(data-target="2") 2
                button#giftset-box__btn3.giftset-page(data-target="3") 3