.choose-combo__item
    .choose-combo__item-img
        img(src="../images/combo-dam.png", alt="")
    .choose-combo__item-onfo
        .choose-combo__item-onfo__price 147.000 &nbsp;&nbsp;<span>155.000</span>
        .choose-combo__item-onfo__name Combo Revo Đậm Đà
        .choose-combo__item-onfo__text Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...
        .coffee-item__info-btns
            button.coffee-item__info-btns__mau MUA NGAY
            button.coffee-item__info-btns__chi CHI TIẾT